.sectionProduct {
  width: rem-calc(1200);
  gap: rem-calc(48);

  .textProduct {
    height: rem-calc(38);
    margin-bottom: rem-calc(24);
    color: get-color('neutral', 950);
    @include typography('text-xl', 'bold');
  }
  
  .productNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .notFound {
      text-align: center;
      margin: 40px 0;
      color: #555;
    
      .notFoundImage {
        width: rem-calc(250);
        height: rem-calc(200);
      }
    
      .notFoundText {
        color: get-color('neutral', 950);
        @include typography('text-md', 'bold');
      }
    
      .notFoundSub {
        color: get-color('neutral', 950);
        @include typography('text-md', 'regular');
      }
    }
  }
  
  .divider {
    border: 1px solid get-color('neutral', 300);
    margin-top: rem-calc(142);
    margin-bottom: rem-calc(48);
  }
}