@use '@/scss/variables/fonts' as f;
@use '@/scss/functions/rem-calc' as *;
@use '@/scss/mixins/typography' as t;

:root {
  font-family: f.$font-primary;
  @include t.typography('text-md', 'regular');
}

body {
  background: $white;
  // background: get-color('neutral', 900);
  // overflow: hidden;
}

.container {
  max-width: rem-calc(1280);
  padding: 0 rem-calc(32);
  margin: 0 auto;

  @include md {
    padding: 0 rem-calc(32);
  }
}