.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: rem-calc(40) rem-calc(120) rem-calc(79.6);
  // gap: rem-calc(40);

//   width: 1204;
// height: 1076.800048828125;
// top: 132px;
// left: 116px;
  gap: get-spacing('spacing-6xl');

}